{% extends 'admin/admin-base.html.twig' %}

{% block title %}Jobs List{% endblock %}

{% block pagetitle %}Jobs List{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Jobs</a></li>
    </ol>
{% endblock %}

{% block content %}
    {% import 'admin/form/dialog.html.twig' as dialogs %}
    {% import 'admin/_parts/helper.html.twig' as helper %}

    <div class="card">
        <div class="card-header">
            <div class="btn-group">
                <button type="button" class="dropdown-toggle btn btn-outline-primary btn-sm bulk-action-dropdown" data-toggle="dropdown" disabled="disabled">
                    {% trans %}Choose an Action{% endtrans %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="pageBulkAction('activate');">Activate</a>
                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="pageBulkAction('disable');">Deactivate</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" href="#static-jobs-delete-bulk">Delete</a>
                </div>
            </div>
            {{ dialogs.confirm('static-jobs-delete-bulk', 'Confirmation', 'The selected Jobs will be removed permanently. Are you sure?', "pageBulkAction('remove')", '') }}

            <a href="{{ path('admin_jobs_create') }}" class="btn btn-outline-success btn-sm pull-right"><i class="fa fa-plus"></i>&nbsp;Add New Job</a>
        </div>

        <div class="card-body">
            {{ form_start(filterForm, {'name': 'filter-jobs-form'}) }}
            <div class="row mb-15">
                <div class="col-sm-6 col-md-3 ">
                    {{ form_widget(filterForm.keyword) }}
                </div>
            </div>
            {{ form_end(filterForm) }}

            <div class="table-stats order-table">
                <form method="post" action="{{ path('admin_jobs_bulk') }}" id="jobs-bulk-form">
                    {{ form_widget(bulk_action_form._token) }}
                    <input type="hidden" name="action" value=""/>
                    <input type="hidden" name="return_url" value="{{ path('admin_jobs_index') }}{{ query_string() }}"/>
                    <table class="table ">
                        <thead>
                        <tr>
                            <th><input type="checkbox" class="check-all-items"/></th>
                            <th>
                                {{ knp_pagination_sortable(jobs, 'Job Title', 'title') }}
                                {% if jobs.isSorted('title') %}
                                    <span class="fa fa-sort-amount{% if jobs.getParams.direction == 'desc' %}-desc{% else %}-asc{% endif %}"></span>
                                {% endif %}
                            </th>
                            <th>Country</th>
                            <th>Categories</th>
                            <th>
                                {{ knp_pagination_sortable(jobs, 'Status', 'isPublished') }}
                                {% if jobs.isSorted('isPublished') %}
                                    <span class="fa fa-sort-amount{% if jobs.getParams.direction == 'desc' %}-desc{% else %}-asc{% endif %}"></span>
                                {% endif %}
                            </th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for job in jobs %}
                            <tr>
                                <td><input type="checkbox" class="check-item" name="jobs[{{ job.id }}]"/></td>
                                <td>{{ job.title }}</td>
                                <td>{{ job.country }}</td>
                                <td>{{ job.categories|join(', ') }}</td>
                                <td>
                                    {% if job.isPublished %}
                                        <span class="badge badge-complete">Active</span>
                                    {% else %}
                                        <span class="badge badge-dark">Not Active</span>
                                    {% endif %}
                                </td>
                                <td>{{ job.created|date("y m d") }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="dropdown-toggle btn btn-outline-secondary btn-sm" type="button" data-toggle="dropdown">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            {% if job.isPublished %}
                                                <a target="_blank" href="{{ path('job_details', {'id' : job.id}) }}" class="dropdown-item">View</a>
                                            {% endif %}
                                            <a class="dropdown-item" href="{{ path('admin_jobs_edit', {'id': job.id, 'return_url': path('admin_jobs_index') ~ query_string()}) }}">Edit</a>
                                            {% if job.isPublished == 1 %}
                                                <a class="dropdown-item" href="{{ path('admin_jobs_set', {'action': 'disable', 'id': job.id, 'return_url': path('admin_jobs_index') ~ query_string()}) }}">Deactivate</a>
                                            {% else %}
                                                <a class="dropdown-item" href="{{ path('admin_jobs_set', {'action': 'activate', 'id': job.id, 'return_url': path('admin_jobs_index') ~ query_string()}) }}">Activate</a>
                                            {% endif %}
                                            <div class="dropdown-divider"></div>
                                            <a data-toggle="modal" href="#static-job-delete-{{ job.id }}" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                    {{ dialogs.confirm('static-job-delete-' ~ job.id, 'Confirmation', 'The selected page will be removed permanently. Are you sure?', '', path('admin_jobs_set', {id: job.id, action: 'remove'})) }}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </form>
            </div> <!-- /.table-stats -->

            <div class="dataTables_paginate paging_simple_numbers">
                {{ knp_pagination_render(jobs) }}
            </div>
        </div>
        <div class="card-footer">
            {% set pagesCount = jobs.getTotalItemCount %}
            {{ pagesCount }} items - found
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function pageBulkAction(action) {
            var form = jQuery("#jobs-bulk-form");
            form.find("input[name='action']").val(action);
            form.submit();
        }
    </script>
{% endblock %}


