<!-- Header -->
<header class="header-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-top">
                    <div class="logo-area">
                        <a href="{{ path('main_index') }}"><img src="{{ asset('images/logo.svg') }}" alt=""></a>
                    </div>
                    <div class="header-top-toggler">
                        <div class="header-top-toggler-button"></div>
                    </div>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="top-nav">
                            <div class="dropdown header-top-account">
                                <a href="#" class="account-button">My Account</a>
                                <div class="account-card">
                                    <div class="header-top-account-info">
                                        <a href="#" class="account-thumb">
                                            <img src="images/account/thumb-1.jpg" class="img-fluid" alt="">
                                        </a>
                                        <div class="account-body">
                                            {% if is_granted('ROLE_COMPANY') %}
                                                <h5><a href="#">{{ app.user.company.name }}</a></h5>
                                            {% else %}
                                                <h5><a href="#">full name</a></h5>
                                            {% endif %}
                                            <span class="mail">{{ app.user.email }}</span>
                                        </div>
                                    </div>
                                    <ul class="account-item-list">
                                        <li><a href="{{ path('my_profile_settings') }}"><span class="ti-user"></span>Account</a></li>
                                        <li><a href="#"><span class="ti-settings"></span>Settings</a></li>
                                        <li><a href="{{ path('security_logout') }}"><span class="ti-power-off"></span>Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                            <select class="selectpicker select-language" data-width="fit">
                                <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
                            </select>
                        </div>
                    {% else %}
                        <div class="top-nav" style="display: flex;">
                            <a href="{{ path('security_login') }}" class="account-page-link">Login</a>
                        </div>
                    {% endif %}

                </div>
                <nav class="navbar navbar-expand-lg cp-nav-2">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {{ render(controller('App\\Controller\\MenuController::main')) }}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->


