{% if pageCount > 1 %}
    <div class="pagination-list text-center">
        <nav class="navigation pagination">
            <div class="nav-links">
                {% if previous is defined %}
                    <a class="prev page-numbers" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fas fa-angle-left"></i></a>
                {% else %}
                    <a class="prev page-numbers disabled" href="#"><i class="fas fa-angle-left"></i></a>
                {% endif %}

                {% if startPage > 1 %}
                    <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                    {% if startPage == 3 %}
                        <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    {% elseif startPage != 2 %}
                        <a class="page-numbers disabled" href="#">&hellip;</a>
                    {% endif %}
                {% endif %}

                {% for page in pagesInRange %}
                    {% if page != current %}
                        <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    {% else %}
                        <span aria-current="page" class="page-numbers current" href="#">{{ page }}</span>
                    {% endif %}

                {% endfor %}

                {% if pageCount > endPage %}
                    {% if pageCount > (endPage + 1) %}
                        {% if pageCount > (endPage + 2) %}
                            <a class="page-numbers disabled" href="#">&hellip;</a>
                        {% else %}
                            <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        {% endif %}
                    {% endif %}

                    <a class="page-numbers" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>

                {% endif %}

                {% if next is defined %}
                    <a class="next page-numbers" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fas fa-angle-right"></i></a>
                {% else %}
                    <a class="next page-numbers disabled" href="#"><i class="fas fa-angle-right"></i></a>
                {% endif %}
            </div>
        </nav>
    </div>
{% endif %}
