<div class="employer">
    <div class="thumb">
        <a href="#">
            <img src="{{ vich_uploader_asset(company, 'logoImage') }}" class="img-fluid" alt="">
        </a>
    </div>
    <div class="body">
        <div class="content">
            <h4><a href="{{ path('company_details', {id: company.getId() }) }}">{{ company.name }}</a></h4>
            <div class="info">
                <span class="company-category"><a href="#"><i data-feather="briefcase"></i>Softwate Firm</a></span>
                <span class="location"><a href="#"><i data-feather="map-pin"></i>{{ company.getCountry() }}</a></span>
            </div>
        </div>
        <div class="button-area">
            {% set count_jobs = jobRepository.getCompanyCount(company) %}
            <a href="{{ path('company_details', {id: company.getId() }) }}">
                {% transchoice count_jobs %}
                    {0} No Open Positions|{1} %count_jobs% Open position|]1,Inf] %count_jobs% Open positions
                {% endtranschoice %}
            </a>
        </div>
    </div>
</div>

