{% extends 'base-index.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Company Details -->
    <div class="alice-bg padding-top-60 section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="company-details">
                        <div class="title-and-info">
                            <div class="title">
                                <div class="thumb">
                                    <img src="{{ vich_uploader_asset(company, 'logoImage') }}" class="img-fluid" alt="">
                                </div>
                                <div class="title-body">
                                    <h4>{{ company.getName() }}</h4>
                                    <div class="info">
                                        <span class="company-type"><i data-feather="briefcase"></i>{{ company }}</span>
                                        <span class="office-location"><i data-feather="map-pin"></i>{{ company.country }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="download-resume">
                                <a href="#" class="save-btn"><i data-feather="heart"></i>Save</a>
                                <a href="#">4 Open Positions</a>
                            </div>
                        </div>
                        <div class="details-information padding-top-60">
                            <div class="row">
                                <div class="col-xl-7 col-lg-8">
                                    <div class="about-details details-section">
                                        <h4><i data-feather="align-left"></i>About Us</h4>
                                        {{ company.description}}
                                    </div>
{#                                    <div class="intor-video details-section">
                                        <h4><i data-feather="video"></i>Intro Video</h4>
                                        <div class="video-area">
                                            <!-- <div data-type="vimeo" data-video-id="126777001"></div> -->
                                            <div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="126777001"></div>
                                        </div>
                                    </div>
                                    <div class="portfolio details-section">
                                        <h4><i data-feather="grid"></i>Image Gallery</h4>
                                        <div class="portfolio-slider owl-carousel">
                                            <div class="portfolio-item">
                                                <img src="images/portfolio/thumb-3.jpg" class="img-fluid" alt="">
                                                <div class="overlay">
                                                    <a href="#"><i data-feather="eye"></i></a>
                                                    <a href="#"><i data-feather="link"></i></a>
                                                </div>
                                            </div>
                                            <div class="portfolio-item">
                                                <img src="images/portfolio/thumb-1.jpg" class="img-fluid" alt="">
                                                <div class="overlay">
                                                    <a href="#"><i data-feather="eye"></i></a>
                                                    <a href="#"><i data-feather="link"></i></a>
                                                </div>
                                            </div>
                                            <div class="portfolio-item">
                                                <img src="images/portfolio/thumb-2.jpg" class="img-fluid" alt="">
                                                <div class="overlay">
                                                    <a href="#"><i data-feather="eye"></i></a>
                                                    <a href="#"><i data-feather="link"></i></a>
                                                </div>
                                            </div>
                                            <div class="portfolio-item">
                                                <img src="images/portfolio/thumb-3.jpg" class="img-fluid" alt="">
                                                <div class="overlay">
                                                    <a href="#"><i data-feather="eye"></i></a>
                                                    <a href="#"><i data-feather="link"></i></a>
                                                </div>
                                            </div>
                                            <div class="portfolio-item">
                                                <img src="images/portfolio/thumb-2.jpg" class="img-fluid" alt="">
                                                <div class="overlay">
                                                    <a href="#"><i data-feather="eye"></i></a>
                                                    <a href="#"><i data-feather="link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>#}

                                    <div class="open-job details-section">
                                        <h4><i data-feather="check-circle"></i>Open Job</h4>
                                        {% for job in company.jobs %}
                                            <div class="job-list">
                                                <div class="body">
                                                    <div class="content">
                                                        <h4><a href="{{ path('job_details', {'id' : job.id}) }}">{{ job.name }} </a></h4>
                                                        <div class="info">
                                                            <span class="office-location"><a href="#"><i data-feather="map-pin"></i>{{ job.getCountry() }}</a></span>
                                                            <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>{{ job.getCategories()|join('/') }}</a></span>
                                                        </div>
                                                    </div>
                                                    <div class="more">
                                                        <div class="buttons">
                                                            <a href="#" class="button">Apply Now</a>
                                                            <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                        </div>
                                                        <p class="deadline">Posted: {{ job.getCreated()|date("F jS") }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xl-4 offset-xl-1 col-lg-4">
                                    <div class="information-and-contact">
                                        <div class="information">
                                            <h4>Information</h4>
                                            <ul>
                                                <li><span>Category:</span> Design & Creative</li>
                                                <li><span>Location:</span> {{ company.country }}</li>
                                                <li><span>Email:</span> {{ company.email }}</li>
                                                <li><span>Hotline:</span> 0145636941</li>
                                                <li><span>Company Size:</span> 20-50</li>
                                                <li><span>Website:</span> <a href="#">{{ company.website }}</a></li>
                                            </ul>
                                        </div>

                                        <div class="buttons">
                                            <a href="#" class="button contact-button" data-toggle="modal" data-target="#exampleModal">Contact Us</a>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade contact-form-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <h4><i data-feather="edit"></i>Contact Us</h4>
                                                        <form action="#">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Your Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" placeholder="Your Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea class="form-control" placeholder="Your Message"></textarea>
                                                            </div>
                                                            <button class="button">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-location">
                                        <h4>Our Location</h4>
                                        <div id="map-area">
                                            <div class="cp-map" id="location" data-lat="40.713355" data-lng="-74.005535" data-zoom="10"></div>
                                        </div>
                                    </div>
                                    <div class="share-job-post">
                                        <span class="share">Social Profile:</span>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Company Details End -->

    <!-- Call to Action -->
    <div class="call-to-action-bg padding-top-90 padding-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="call-to-action-2">
                        <div class="call-to-action-content">
                            <h2>For Find Your Dream Job or Candidate</h2>
                            <p>Add resume or post a job. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                        </div>
                        <div class="call-to-action-button">
                            <a href="add-resume.html" class="button">Add Resume</a>
                            <span>Or</span>
                            <a href="post-job.html" class="button">Post A Job</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action End -->
{% endblock %}
