<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('admin_index') }}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title">Job Board</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Companies</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="{{ path('admin_companies_index') }}">Companies</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="{{ path('admin_jobs_index') }}">Jobs</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="{{ path('admin_profiles_index') }}"><i class="menu-icon fa fa-table"></i> Profiles</a></li>

                <li class="menu-title">Content</li><!-- /.menu-title -->
                <li class="menu-item-has-children"><a href="{{ path('admin_page_index') }}"><i class="menu-icon fa fa-table"></i> Pages</a></li>

                <li class="menu-title">Settings</li><!-- /.menu-title -->

                <li class="menu-item-has-children"><a href="{{ path('admin_category_index') }}"><i class="menu-icon fa fa-table"></i> Categories</a></li>

                <li class="menu-item-has-children"><a href="#"><i class="menu-icon fa fa-table"></i> Main</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
