{% extends 'admin/admin-base.html.twig' %}

{% block title %}Profiles List{% endblock %}

{% block pagetitle %}Profiles List{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Profiles</a></li>
    </ol>
{% endblock %}

{% block content %}
    {% import 'admin/form/dialog.html.twig' as dialogs %}
    {% import 'admin/_parts/helper.html.twig' as helper %}

    <div class="card">
        <div class="card-header">
            <div class="btn-group">
                <button type="button" class="dropdown-toggle btn btn-outline-primary btn-sm bulk-action-dropdown" data-toggle="dropdown" disabled="disabled">
                    {% trans %}Choose an Action{% endtrans %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="pageBulkAction('activate');">Activate</a>
                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="pageBulkAction('disable');">Deactivate</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" href="#static-profiles-delete-bulk">Delete</a>
                </div>
            </div>
            {{ dialogs.confirm('static-profiles-delete-bulk', 'Confirmation', 'The selected Profiles will be removed permanently. Are you sure?', "pageBulkAction('remove')", '') }}

            <a href="{{ path('admin_profiles_create') }}" class="btn btn-outline-success btn-sm pull-right"><i class="fa fa-plus"></i>&nbsp;Add New Profile</a>
        </div>

        <div class="card-body">
            {{ form_start(filterForm, {'name': 'filter-profiles-form'}) }}

            <div class="row mb-15">
                <div class="col-sm-6 col-md-3 ">
                    {{ form_widget(filterForm.keyword) }}
                </div>
                <div class="col-sm-6 col-md-3 ">
                    {{ form_widget(filterForm.country) }}
                </div>
            </div>
            {{ form_end(filterForm) }}

            <div class="table-stats order-table">
                <form method="post" action="{{ path('admin_profiles_bulk') }}" id="profiles-bulk-form">
                    {{ form_widget(bulk_action_form._token) }}
                    <input type="hidden" name="action" value=""/>
                    <input type="hidden" name="return_url" value="{{ path('admin_profiles_index') }}{{ query_string() }}"/>
                    <table class="table ">
                        <thead>
                        <tr>
                            <th><input type="checkbox" class="check-all-items"/></th>
                            <th>
                                {{ knp_pagination_sortable(profiles, 'Name', 'p.firstName') }}
                                {% if profiles.isSorted('p.firstName') %}
                                    <span class="fa fa-sort-amount{% if profiles.getParams.direction == 'desc' %}-desc{% else %}-asc{% endif %}"></span>
                                {% endif %}
                            </th>
                            <th>Email</th>
                            <th>Country</th>
                            <th>
                                {{ knp_pagination_sortable(profiles, 'Status', 'p.visibility') }}
                                {% if profiles.isSorted('p.visibility') %}
                                    <span class="fa fa-sort-amount{% if profiles.getParams.direction == 'desc' %}-desc{% else %}-asc{% endif %}"></span>
                                {% endif %}
                            </th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for profile in profiles %}
                            <tr>
                                <td><input type="checkbox" class="check-item" name="profiles[{{ profile.id }}]"/></td>
                                <td>{{ profile.firstName }} {{ profile.lastName }}</td>
                                <td>{{ profile.user.email }}</td>
                                <td>{{ profile.country }}</td>
                                <td>
                                    <span class="badge badge-complete">{{ profile.visibility }}</span>
                                </td>
                                <td>{{ profile.created|date("y m d") }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="dropdown-toggle btn btn-outline-secondary btn-sm" type="button" data-toggle="dropdown">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            <a target="_blank" href="{{ path('profile_details', {'id' : profile.id}) }}" class="dropdown-item">View</a>

                                            <a class="dropdown-item" href="{{ path('admin_profiles_edit', {'id': profile.id, 'return_url': path('admin_profiles_index') ~ query_string()}) }}">Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a data-toggle="modal" href="#static-profile-delete-{{ profile.id }}" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                    {{ dialogs.confirm('static-profile-delete-' ~ profile.id, 'Confirmation', 'The selected page will be removed permanently. Are you sure?', '', path('admin_profiles_set', {id: profile.id, action: 'remove'})) }}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </form>
            </div> <!-- /.table-stats -->

            <div class="dataTables_paginate paging_simple_numbers">
                {{ knp_pagination_render(profiles) }}
            </div>
        </div>
        <div class="card-footer">
            {% set pagesCount = profiles.getTotalItemCount %}
            {{ pagesCount }} items - found
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function pageBulkAction(action) {
            var form = jQuery("#companies-bulk-form");
            form.find("input[name='action']").val(action);
            form.submit();
        }
    </script>
{% endblock %}