{% macro confirm(id, title, body, onclick, href) %}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{ body|trans }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                {% if href %}
                    <a href="{{ href|raw }}" onclick="{{ onclick|raw }}" class="btn btn-primary">{% trans %}Ok{% endtrans %}</a>
                {% else %}
                    <button onclick="{{ onclick|raw }}" type="button" class="btn btn-primary">{% trans %}Ok{% endtrans %}</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}
