{% extends 'admin/admin-base.html.twig' %}

{% block title %}Pages List{% endblock %}

{% block pagetitle %}Pages List{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Pages</a></li>
    </ol>
{% endblock %}

{% block content %}
       {% import 'admin/form/dialog.html.twig' as dialogs %}
    {% import 'admin/_parts/helper.html.twig' as helper %}

    <div class="card">
        <div class="card-header">
            <div class="btn-group">
                <button type="button" class="dropdown-toggle btn btn-outline-primary btn-sm bulk-action-dropdown" data-toggle="dropdown" disabled="disabled">
                    {% trans %}Choose an Action{% endtrans %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="pageBulkAction('activate');">Activate</a>
                    <a class="dropdown-item" data-toggle="modal" href="#" onclick="pageBulkAction('disable');">Deactivate</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" href="#static-pages-delete-bulk">Delete</a>
                </div>
            </div>
            {{ dialogs.confirm('static-pages-delete-bulk', 'Confirmation', 'The selected pages will be removed permanently. Are you sure?', "pageBulkAction('remove')", '') }}

            <a href="{{ path('admin_page_create') }}" class="btn btn-outline-success btn-sm pull-right"><i class="fa fa-plus"></i>&nbsp; Add Page</a>
        </div>

        <div class="card-body">
            <div class="table-stats order-table">
                <form method="post" action="{{ path('admin_page_bulk') }}" id="page-bulk-form">
                    {{ form_widget(bulk_action_form._token) }}
                    <input type="hidden" name="action" value=""/>
                    <input type="hidden" name="return_url" value="{{ path('admin_page_index') }}{{ query_string() }}"/>
                    <table class="table ">
                        <thead>
                        <tr>
                            <th class="serial"><input type="checkbox" class="check-all-items"/></th>
                            <th>
                                {{ knp_pagination_sortable(pages, 'Page Name', 'p.name') }}
                                {% if pages.isSorted('p.name') %}
                                    <span class="fa fa-sort-amount{% if pages.getParams.direction == 'desc' %}-desc{% else %}-asc{% endif %}"></span>
                                {% endif %}
                            </th>
                            <th>Url</th>
                            <th>
                                {{ knp_pagination_sortable(pages, 'Status', 'p.status') }}
                                {% if pages.isSorted('p.status') %}
                                    <span class="fa fa-sort-amount{% if pages.getParams.direction == 'desc' %}-desc{% else %}-asc{% endif %}"></span>
                                {% endif %}
                            </th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for page in pages %}
                            <tr>
                                <td><input type="checkbox" class="check-item" name="pages[{{ page.id }}]"/></td>
                                <td>{{ page.name }}</td>
                                <td>{{ page.url }}</td>
                                <td>
                                    {% if page.status %}
                                        <span class="badge badge-complete">Active</span>
                                    {% else %}
                                        <span class="badge badge-dark">Not Active</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="dropdown-toggle btn btn-outline-secondary btn-sm" type="button" data-toggle="dropdown">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            {% if page.status %}
                                                <a target="_blank" href="{{ helper.pageUrl(page) }}" class="dropdown-item">View</a>
                                            {% endif %}
                                            <a class="dropdown-item" href="{{ path('admin_page_edit', {'id': page.id, 'return_url': path('admin_page_index') ~ query_string()}) }}">Edit</a>
                                            {% if page.status == 1 %}
                                                <a class="dropdown-item" href="{{ path('admin_page_set', {'action': 'disable', 'id': page.id, 'return_url': path('admin_page_index') ~ query_string()}) }}">Deactivate</a>
                                            {% else %}
                                                <a class="dropdown-item" href="{{ path('admin_page_set', {'action': 'activate', 'id': page.id, 'return_url': path('admin_page_index') ~ query_string()}) }}">Activate</a>
                                            {% endif %}
                                            <div class="dropdown-divider"></div>
                                            <a data-toggle="modal" href="#static-page-delete-{{ page.id }}" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                    {{ dialogs.confirm('static-page-delete-' ~ page.id, 'Confirmation', 'The selected page will be removed permanently. Are you sure?', '', path('admin_page_set', {id: page.id, action: 'remove'})) }}

                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </form>
            </div> <!-- /.table-stats -->

            <div class="dataTables_paginate paging_simple_numbers">
                {{ knp_pagination_render(pages) }}
            </div>
        </div>
        <div class="card-footer">
            {% set pagesCount = pages.getTotalItemCount %}
            {{ pagesCount }} items - found
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function pageBulkAction(action) {
            var form = jQuery("#page-bulk-form");
            form.find("input[name='action']").val(action);
            form.submit();
        }
    </script>
{% endblock %}