{% set route = app.request.attributes.get('_route') %}

<div class="dashboard-sidebar">
    <div class="company-info">
        <div class="thumb">
            {% if app.user.company.logoName %}
                <img src="{{ vich_uploader_asset(app.user.company, 'logoImage') }}" class="img-fluid" alt="">
            {% else %}
                <img src="{{ asset('images/no-company.png') }}" class="img-fluid" alt="">
            {% endif %}
        </div>
        <div class="company-body">
            <h5>{{ app.user.company.name }}</h5>
            <span>{{ app.user.company.username }}</span>
        </div>
    </div>

    {# TODO: Create progress bar feature according to profile completeness #}
    {#<div class="profile-progress">
        <div class="progress-item">
            <div class="progress-head">
                <p class="progress-on">Company</p>
            </div>
            <div class="progress-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                </div>
                <p class="progress-to">70%</p>
            </div>
        </div>
    </div>
    #}
    <div class="dashboard-menu">
        <ul>
            <li {{ route ==  'my_company_index' ? 'class="active"' }}><i class="fas fa-home"></i><a href="{{ path('my_company_index') }}">Dashboard</a></li>
            <li {{ route ==  'my_company_settings' ? 'class="active"' }}><i class="fas fa-user"></i><a href="{{ path('my_company_settings') }}">Edit Profile</a></li>
            <li {{ route ==  'my_company_jobs' ? 'class="active"' }}><i class="fas fa-briefcase"></i><a href="{{ path('my_company_jobs') }}">Manage Jobs</a></li>
            <li {{ route ==  'my_company_job_new' ? 'class="active"' }}><i class="fas fa-plus-square"></i><a href="{{ path('my_company_job_new') }}">Post New Job</a></li>
            <li {{ route ==  'my_company_candidates' ? 'class="active"' }}><i class="fas fa-users"></i><a href="#">Manage Candidates</a></li>
            <li {{ route ==  'my_company_resumes' ? 'class="active"' }}><i class="fas fa-heart"></i><a href="#">Shortlisted Resumes</a></li>
            <li {{ route ==  'my_company_messages' ? 'class="active"' }}><i class="fas fa-comment"></i><a href="#">Message</a></li>
        </ul>
        <ul class="delete">
            <li><i class="fas fa-power-off"></i><a href="{{ path('security_logout') }}">Logout</a></li>
            <li><i class="fas fa-trash-alt"></i><a href="#" data-toggle="modal" data-target="#modal-delete">Delete Profile</a></li>
        </ul>

        <!-- Modal -->
        <div class="modal fade modal-delete" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4><i data-feather="trash-2"></i>Delete Account</h4>
                        <p>Are you sure! You want to delete your profile. This can't be undone!</p>
                        <form action="#">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Enter password">
                            </div>
                            <div class="buttons">
                                <button class="delete-button">Save Update</button>
                                <button class="">Cancel</button>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" checked="">
                                <label class="form-check-label">You accepts our <a href="#">Terms and Conditions</a> and
                                    <a href="#">Privacy Policy</a></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>