{% extends 'base-dashboard.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Employer Dashboard</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Employer Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="dashboard-container">
                        <div class="dashboard-content-wrapper">
                            {{ form_start(form, {'attr': {'class': 'dashboard-form job-post-form'}}) }}
                            <div class="dashboard-section basic-info-input">
                                <h4><i data-feather="user-check"></i>Post A Job</h4>
                                {{ form_row(form.title) }}
                                {{ form_row(form.contract) }}
                                {{ form_row(form.country) }}
                                {{ form_row(form.state) }}
                                {{ form_row(form.salary) }}
                                {{ form_row(form.categories) }}
                                {{ form_row(form.description, {'attr' : {'class' : 'tinymce-editor tinymce-editor-1'}}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                        {% include "my-company/_side-menu.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
