{% extends 'base-index.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Job Listing</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Job Listing</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Job Listing -->
    <div class="alice-bg section-padding-bottom">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <div class="job-listing-container">
                        <div class="filtered-job-listing-wrapper">
                            <div class="job-view-controller-wrapper">
                                <div class="job-view-controller">
                                    <div class="controller list active">
                                        <i data-feather="menu"></i>
                                    </div>
                                    <div class="controller grid">
                                        <i data-feather="grid"></i>
                                    </div>
                                </div>
                                <div class="showing-number">
                                    {% set count = jobs.getTotalItemCount %}
                                    Showing {{ count }} jobs
                                </div>
                            </div>
                            <div class="job-filter-result">
                                {% if jobs|length %}
                                    {% for job in jobs %}
                                        {% include 'jobs/job.html.twig' %}
                                    {% endfor %}
                                {% else %}
                                    No jobs for this request
                                {% endif %}
                            </div>
                            {{ knp_pagination_render(jobs, '_parts/paginator.html.twig') }}
                        </div>

                        <div class="job-filter-wrapper">
                            <div class="selected-options same-pad">
                                <div class="selection-title">
                                    <h4>You Selected</h4>
                                    <a href="#">Clear All</a>
                                </div>
                                <ul class="filtered-options">
                                </ul>
                            </div>

                            {{ form_start(filter) }}
                            <div class="job-filter-dropdown same-pad category">
                                {{ form_widget(filter.categories, {'attr' : {'class' : 'selectpicker'}}) }}
                            </div>
                            <div class="job-filter-dropdown same-pad category">
                                {{ form_widget(filter.country, {'attr' : {'class' : 'selectpicker'}}) }}
                            </div>

                            <div data-id="job-type" class="job-filter job-type same-pad">
                                {{ form_widget(filter.contracts, {'attr' : {'class' : 'selectpicker'}}) }}
                            </div>
                            <div data-id="job-type" class="job-filter same-pad">
                                {{ form_widget(filter.save) }}
                            </div>
                            {{ form_end(filter) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Listing End -->
{% endblock %}
