{% extends "base-index.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Candidates Details -->
    <div class="alice-bg padding-top-60 section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="job-listing-details">
                        <div class="job-title-and-info">
                            <div class="title">
                                <div class="thumb">
                                    <img src="{{ vich_uploader_asset(job.company, 'logoImage') }}" class="img-fluid" alt="">
                                </div>
                                <div class="title-body">
                                    <h4>{{ job.title }}</h4>
                                    <div class="info">
                                        <span class="company"><a href="#"><i data-feather="briefcase"></i>{{ job.getCategories()|join('/') }}</a></span>
                                        <span class="office-location"><a href="#"><i data-feather="map-pin"></i>{{ job.getCountry() }}</a></span>
                                        <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <a class="save" href="#"><i data-feather="heart"></i>Save Job</a>
                                {% if hasApplication %}
                                    <a class="apply" href="#">Already applied</a>
                                {% else %}
                                    <a class="apply" href="#" data-toggle="modal" data-target="#apply-popup-id">Apply Online</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="details-information section-padding-60">
                            <div class="row">
                                <div class="col-xl-7 col-lg-8">
                                    <div class="description details-section">
                                        <h4><i data-feather="align-left"></i>Job Description</h4>
                                        {{ job.description|raw }}
                                    </div>

                                    <div class="responsibilities details-section">
                                        <h4><i data-feather="zap"></i>Responsibilities</h4>
                                        <ul>
                                            <li>The applicants should have experience in the following areas</li>
                                            <li>Skills on M.S Word, Excel, and Integrated Accounting package i.e. Software</li>
                                            <li>Have sound knowledge of commercial activities.</li>
                                            <li>Should have vast knowledge in IAS/ IFRS, Company Act, Income Tax, VAT.</li>
                                            <li>Good verbal and written communication skills.</li>
                                            <li>Leadership, analytical, and problem-solving abilities.</li>
                                        </ul>
                                    </div>
                                    <div class="edication-and-experience details-section">
                                        <h4><i data-feather="book"></i>Education + Experience</h4>
                                        <ul>
                                            <li>M.Com (Accounting) / M.B.S / M.B.A under National University with CA course complete.</li>
                                            <li>M.S (Statistics) any Public University / National University.</li>
                                            <li>Masters of library science any Public University.</li>
                                            <li>2 to 3 year(s) Experiance</li>
                                            <li>Females candidate are discourage to apply.</li>
                                        </ul>
                                    </div>
                                    <div class="other-benifit details-section">
                                        <h4><i data-feather="gift"></i>Other Benefits</h4>
                                        <ul>
                                            <li>Health and life insurance </li>
                                            <li>2 days of weekend </li>
                                            <li>2 annual performanc Bonuses</li>
                                            <li>Lunch &amp; Snacks</li>
                                        </ul>
                                    </div>
                                    <div class="job-apply-buttons">
                                        <a href="#" class="apply"  data-toggle="modal" data-target="#apply-popup-id">Apply Online</a>
                                        <a href="#" class="email"><i data-feather="mail"></i>Email Job</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 offset-xl-1 col-lg-4">
                                    <div class="information-and-share">
                                        <div class="job-summary">
                                            <h4>Job Summary</h4>
                                            <ul>
                                                <li><span>Published on:</span> {{ job.getCreated()|date("F jS") }}</li>
                                                <li><span>Vacancy:</span> 08</li>
                                                <li><span>Employment Status:</span> Full-time</li>
                                                <li><span>Experience:</span> 2 to 3 year(s)</li>
                                                <li><span>Job Location:</span> {{ job.country }}</li>
                                                <li><span>Salary:</span> $32k - $36k</li>
                                                <li><span>Gender:</span> Any</li>
                                                <li><span>Application Deadline:</span> Oct 15, 2018</li>
                                            </ul>
                                        </div>
                                        <div class="share-job-post">
                                            <span class="share"><i class="fas fa-share-alt"></i>Share:</span>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                            <a href="#" class="add-more"><span class="ti-plus"></span></a>
                                        </div>
                                        <div class="buttons">
                                            <a href="#" class="button print"><i data-feather="printer"></i>Print Job</a>
                                            <a href="#" class="button report"><i data-feather="flag"></i>Report Job</a>
                                        </div>
                                        <div class="job-location">
                                            <h4>Job Location</h4>
                                            <div id="map-area">
                                                <div class="cp-map" id="location" data-lat="40.713355" data-lng="-74.005535" data-zoom="10"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-7 col-lg-8">
                                <div class="company-information details-section">
                                    <h4><i data-feather="briefcase"></i>About the Company</h4>
                                    <ul>
                                        <li><span>Company Name:</span> The Oreo Company Ltd.</li>
                                        <li><span>Address:</span> Queens, NY 11375 USA</li>
                                        <li><span>Website:</span> <a href="#">www.theoreoltd.com</a></li>
                                        <li><span>Company Profile:</span></li>
                                        <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum looked up one of the more obscure Latin words, consectetur.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Candidates Details End -->

    <div class="apply-popup">
        <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {# IMPORTANT #}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_USER') %}
                            {{ form_start(applyForm) }}
                            {{ form_row(applyForm.cover) }}
                            {{ form_end(applyForm) }}
                        {% else %}
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" placeholder="Full Name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="email" placeholder="Email Address" class="form-control">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group file-input-wrap">
                                    <label for="up-cv">
                                        <input id="up-cv" type="file">
                                        <i data-feather="upload-cloud"></i>
                                        <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                                    </label>
                                </div>
                                <div class="more-option">
                                    <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                                    <label for="radio-4">
                                        <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                                    </label>
                                </div>
                                <button class="button primary-bg btn-block">Apply Now</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}