{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    {{ job.id }}
    {{ job.name }}
    {{ job.categories|join(', ') }}
    {{ job.description }}
{% endblock %}
